<h4 style="text-align: center;">Converter para Base 64</h3>
	
	<div class="form-group">
		<div class="form-row">
			<div class="form-group col-md-12 text-center">
				<!-- <button class="btn btn-info" onclick="convertToBase()">Converter</button> -->
				<input class="btn btn-info"  type="button" value="Converter" onclick="convertToBase()">
			</div>
			<div class="form-group col-md-12">
				<label for="labelPrintGUID">Base64:</label>
				<textarea class="form-control" rows="3" placeholder="...?" id="documentBase64" name="documentBase64" readonly></textarea>
				<!-- <input type="text" class="form-control" id="documentBase64" name="documentBase64"
					placeholder="..." readonly multiline rows="30"> -->
			</div>
		</div>
	</div>
	
	
	<script src="/js/proArticleHelper.js"></script>
	
	
	<%- include('../importScript'); -%>