<!-- Side Bar -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="/">
                    <!-- <img src="assets/images/logo.png" alt="" /> --><span>Projeto IC UFJF</span></a></div>
            <ul>
                <li><a href="/"><i class="ti-home"></i>Home</a></li>

                <li><a href="/network/cadastrarAdmin"><i class="ti-lock"></i> Admin </a></li>

                <li><a class="sidebar-sub-toggle"><i class="ti-server"></i>Rede<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/cadastrarRede">Cadastrar </a></li>
                        <li><a href="/listarRedes">Listar</a></li>
                    </ul>
                </li>

                
                
                <li><a class="sidebar-sub-toggle"><i class="ti-user"></i>User<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/user/new">Cadastrar </a></li>
                        <li><a href="/user/get">Listar</a></li>
                    </ul>
                </li>

                <li><a class="sidebar-sub-toggle"><i class="ti-vector"></i>IoT<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/iot/new">Cadastrar </a></li>
                        <li><a href="/iot/get">Listar</a></li>
                    </ul>
                </li>

                <li><a class="sidebar-sub-toggle"><i class="ti-wallet"></i>Transaction<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/transaction/new">Cadastrar </a></li>
                        <li><a href="/transaction/list">Listar</a></li>
                        <li><a href="/transaction/get">Logs</a></li>
                    </ul>
                </li>

                <li><a class="sidebar-sub-toggle"><i class="ti-bookmark"></i>Prov<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/prov/get">Listar</a></li>
                    </ul>
                </li>

                <li><a href="/api_prov/index"><i class="ti-link"></i> API </a></li>

            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->