<%- include('../head'); -%>
<%- include('../sidebar'); -%>
<%- include('../header'); -%>


<div class="content-wrap">

  <div class="main">
    <div class="container-fluid">
      <!-- /# row -->
      <section id="main-content">
        <div class="row">

          <div class="col-lg-12">

            <div class="card">
              <div class="card-title">
                <h3>New Transaction</h3>
              </div>

              <div class="col-md-12" style="font-size: x-large;">

                <form id="saveIoT" method="POST" action="/transaction/save" enctype="application/json">

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="labelPkiUser">ChaveUsuário:</label>
                      <input type="text" class="form-control" id="userPki" name="userPki"
                        placeholder="Digite a chave do Usuário" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="labelPkiIoT">ChaveIoT:</label>
                      <input type="text" class="form-control" id="iotPki" name="iotPki"
                        placeholder="Digite a chave do dispositivo" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="labelOperacaoIoT">Operação:</label>
                      <input type="text" class="form-control" id="task" name="task"
                        placeholder="Digite a operação a ser realizada" required>
                    </div>
                  </div>

                  <h3 style="text-align: center;">Document</h3>

                  <div class="form-group">
                    <label for="labelNome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Arquivo"
                      required>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="labelCor">Cor:</label>
                      <select class="form-control" id="cor" name="cor">
                        <option style="color: rgb(70, 70, 70);" value="" disabled selected hidden>Selecione uma
                          cor</option>
                        <option value="1">Preto e Branco</option>
                        <option value="2">Colorido</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="labelOrientacao">Orientação:</label>
                      <select class="form-control" id="orientacao" name="orientacao">
                        <option style="color: rgb(70, 70, 70);" value="" disabled selected hidden>Orientação
                        </option>
                        <option value="1">Retrato</option>
                        <option value="2">Paisagem</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="labelCopia">Copias:</label>
                      <input type="number" class="form-control" id="copias" name="copias" required>
                    </div>
                  </div>

                  <!-- <div class="form-group">
                    <label for="labelInputFile">Enviar o arquivo</label>
                    <input type="file" id="file" name="file" accept="image/png, image/jpeg" disabled>
                  </div> -->

                  <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                      <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                    <div class="col-lg-5"></div>
                  </div>

                </form>

              </div>

            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>

<%- include('../importScript'); -%>