<%- include('../head'); -%>
<%- include('../sidebar'); -%>
<%- include('../header'); -%>


<div class="content-wrap">

  <div class="main">
    <div class="container-fluid">

      <!-- /# row -->
      <section id="main-content">
        <div class="row">

          <!-- <div class="col-lg-12">

            <div class="card">
              <div class="card-title">
                <h3>Transactions</h3>
              </div>
              <br>

              <div class="row">
                <div class="col-lg-12" style="text-align: center; font-size: x-large;">
                  
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Agent</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Entity</th>
                        <th scope="col">Timestamp</th>
                      </tr>
                    </thead>
                    <tbody id="tableBody">
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div> -->


          <div class="col-lg-12">

            <div class="card">
              <div class="card-title">
                <h3>Dados</h3>
              </div>
    
              <table class="table" id="tableListRedes">
                <thead>
                  <tr>
                    <th scope="col">Agent</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Entity</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col"></th>
                  </tr>              
                </thead>
                <tbody id="tableBody">

                </tbody>
              </table>
    
              <table class="table" id="tableRedeInfo" hidden>
                <thead>
                  <tr>
                    <th scope="col">wasGeneratedBy</th>
                    <th scope="col">used</th>
                    <th scope="col">wasAssociatedWith</th>
                    <th scope="col">wasAttribuitedWith</th>
                    <th scope="col"></th>
                  </tr>              
                </thead>
                <tbody id="redeInfo">
                  
                </tbody>                
              </table>


              <div class="row" id="divRedeInfo">
    
              </div>
    
            </div>
          </div>

        </div>
      </section>

    </div>
  </div>
</div>

<%- include('../importScript'); -%>
<script src="/js/listProv.js"></script>
<script type="text/javascript">

</script>
</body>

</html>